<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sunnyweather.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".SunnyWeatherApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SunnyWeather"
        tools:targetApi="31">
        <activity
            android:name=".ui.component.LifeIndexSituation"
            android:exported="false"
            android:label="@string/title_activity_life_index_situation"
            android:theme="@style/Theme.SunnyWeather" />
        <activity
            android:name=".ui.component.LifeIndexSection"
            android:exported="false"
            android:label="@string/title_activity_life_index_section"
            android:theme="@style/Theme.SunnyWeather" />
        <activity
            android:name=".ui.component.AtmosphericPressure"
            android:exported="false"
            android:label="@string/title_activity_atmospheric_pressure"
            android:theme="@style/Theme.SunnyWeather" />
        <activity
            android:name=".ui.component.RotatingArrow"
            android:exported="false"
            android:label="@string/title_activity_rotating_arrow"
            android:theme="@style/Theme.SunnyWeather" />
        <activity
            android:name=".ui.component.scaleText"
            android:exported="false"
            android:label="@string/title_activity_scale_text"
            android:theme="@style/Theme.SunnyWeather" />
        <activity
            android:name=".ui.component.Wind"
            android:exported="false"
            android:label="@string/title_activity_wind"
            android:theme="@style/Theme.SunnyWeather" />
        <activity
            android:name=".ui.component.Somatosensory"
            android:exported="false"
            android:label="@string/title_activity_somatosensory"
            android:theme="@style/Theme.SunnyWeather" />
        <activity
            android:name=".ui.component.Ultraviolet"
            android:exported="false"
            android:label="@string/title_activity_ultraviolet"
            android:theme="@style/Theme.SunnyWeather" />
        <activity
            android:name=".ui.component.City_Edit"
            android:exported="false"
            android:label="@string/title_activity_city_edit"
            android:theme="@style/Theme.SunnyWeather" />
        <activity
            android:name=".ui.component.SearchBar_Onclick"
            android:exported="false"
            android:label="@string/title_activity_search_bar_onclick"
            android:theme="@style/Theme.SunnyWeather" />
        <activity
            android:name=".ui.layout.Place_manage"
            android:exported="false"
            android:label="@string/title_activity_place_manage"
            android:theme="@style/Theme.SunnyWeather" />
        <activity
            android:name=".ui.component.somatosensory"
            android:exported="false"
            android:label="@string/title_activity_somatosensory"
            android:theme="@style/Theme.SunnyWeather" />
        <activity
            android:name=".ui.component.humidity"
            android:exported="false"
            android:label="@string/title_activity_humidity"
            android:theme="@style/Theme.SunnyWeather" />
        <activity
            android:name=".ui.component.UV_table"
            android:exported="false"
            android:label="@string/title_activity_uv_table"
            android:theme="@style/Theme.SunnyWeather" />
        <activity
            android:name=".ui.component.UV"
            android:exported="false"
            android:label="@string/title_activity_uv"
            android:theme="@style/Theme.SunnyWeather" />
        <activity
            android:name=".ui.layout.Weather_other_info"
            android:exported="false"
            android:label="@string/title_activity_weather_other_info"
            android:theme="@style/Theme.SunnyWeather" />
        <activity
            android:name=".ui.component.Hour_Situation"
            android:exported="false"
            android:label="@string/title_activity_hour_situation"
            android:theme="@style/Theme.SunnyWeather" />
        <activity
            android:name=".ui.component.TemperatureDisplay"
            android:exported="false"
            android:label="@string/title_activity_temperature_display"
            android:theme="@style/Theme.SunnyWeather" />
        <activity
            android:name=".ui.theme.BackGroud"
            android:exported="false"
            android:label="@string/title_activity_back_groud"
            android:theme="@style/Theme.SunnyWeather" />
        <activity
            android:name=".ui.component.Alarm_Info"
            android:exported="false"
            android:label="@string/title_activity_alarm_info"
            android:theme="@style/Theme.SunnyWeather" />
        <activity
            android:name=".ui.component.Future_Weather_Cards"
            android:exported="false"
            android:label="@string/title_activity_future_weather_cards"
            android:theme="@style/Theme.SunnyWeather" />
        <activity
            android:name=".ui.component.Weather_location_easy_information"
            android:exported="false"
            android:label="@string/title_activity_weather_location_easy_information"
            android:theme="@style/Theme.SunnyWeather" />
        <activity
            android:name=".ui.layout.WeatherSituation"
            android:exported="false"
            android:label="@string/title_activity_weather_situation"
            android:theme="@style/Theme.SunnyWeather" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.SunnyWeather">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>